[Unit]
Description=Jason Links Go App
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start golinks
ExecStop=/usr/bin/docker stop golinks

[Install]
WantedBy=default.target
