[Unit]
Description=GoLinks docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker run --rm \
                              --name=golinks \
                              -v /data:/data \
                              -e PGID=<gid> -e PUID=<uid>  \
                              -p 7878:7878 \
                              contd/links

ExecStop=/usr/bin/docker stop golinks

[Install]
WantedBy=multi-user.target
